.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.btn{
    cursor: pointer;
}
.return-btn-icon{
    width: 12px;
    height: 13px;
    color: #fff;
}
/**/
.cm-link-btn{
    color: #409EFF;
    cursor: pointer;
}
.cm-area-picker{
    select{
        height: 32px;
        line-height: 32px;
        padding: 0.2rem 0.75rem;
        font-size: 14px;
    }
}
/**/
.container-hd{
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E7ED;
}
/**/
.handle-box{
    margin-bottom: 20px;
}
